@import 'mixin';

@media(max-width:700px) {
    .todo-app{
        max-width: 300px;

        .add-btn{
            .add{
                display: none;
            }
            width: 40px;
            height: 40px;
            .add-sign{
                display: block;
                @include border-radius(50%);
            }
        }
    }
}